@import '/src/assets/fonts/font.css';

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
}

.typo--bold {
  font-weight: 600;
}

.typo-size--small {
  font-size: 0.875rem;
}

.typo--size--regular {
  font-size: 1rem;
}

.ant-table td,
.ant-table th {
  padding: 0.5rem 0.5rem !important;
}

.ant-table-wrapper .ant-table-filter-trigger {
  margin: 0;
}

.ant-table td:nth-child(1) {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-form-item-label {
  padding: 0 !important;
}
